.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5rem;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.4em 0.55em;
}

.icon {
    width: 24px;
    height: 24px;
}