.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5px;
}

.container:first-of-type {
  flex: 2;
}

.container:last-child {
  margin-right: 0;
}

.container label {
  display: block;
  margin-bottom: 5px;
  color: rgb(200, 77, 248);
  font-weight: 500;
  font-size: 0.8rem;
  font-family: "Jost", sans-serif;
  margin-left: 5px;
  white-space: nowrap;
}

.container input {
  border: none;
  border-radius: 14px;
  padding: 1rem;
  background-color: rgba(37, 37, 37, 0.85);
  color: white;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  outline-color: transparent;
  width: 100%;
}

.container input::placeholder {
  color: rgb(146, 146, 146);
}
