.form-container {
  display: flex;
  align-items: flex-end;
  margin: 0 auto 1rem auto;
  background-color: rgba(71, 71, 71, 0.85);
  padding: 1rem;
  border-radius: 20px;
  gap: 2.5rem;
  /* outline: 2px red solid; */
}

.button {
  border: none;
  border-radius: 14px;
  padding-inline: 15px;
  background: rgb(200, 77, 248);
  cursor: pointer;
  font-size: 2.3rem;
  font-family: 'Architects Daughter', cursive;
  box-sizing: border-box;
  height: 100%;
  color: #fff;
  transition: 0.2s;
  align-self: flex-end;
}

.button:hover {
  background: rgb(183, 68, 228);
}

.button:active {
  background: rgb(210, 104, 252);
  transition: none;
}
